<div class="container ">

  <div class="row">
<h1><center>ADMIN PANEL</center></h1>
<br><hr><br>
<div class="col-sm-4">
<center> <h3><font style="font-family:verdana;">ADD MOVIE FOR YOUR THEATER</font></h3><br>
  <button type="button" class="btn btn-danger" ng-click="addMovie()">ADD</button><br></center>
</div>

<div class="col-sm-4">
<center>

<h3><font>ADD THEATER</font></h3>
<br><br>
  <button type="button" class="btn btn-primary" ng-click="addTheater()">ADD</button><br>

</center>
</div>


<div class="col-sm-4">

<center><h3><font>MAPPING MOVIE ACCORDING TO THEATER</font></h3> <br>
   <button type="button" class="btn btn-warning" ng-click="mapThaterMovie()">ADD</button></center>

</div>
  </div>
  <br><br><br><br>
</div>
